<form [formGroup]="ReagisterForm" (ngSubmit)="onSubmit()">

  <div class="col-md-12 mb-3">
    <label for="Category" class="form-label"> Category : </label>
    <select name="categoty" id="categoty" class="form-control" formControlName="ClientType"
      [class.is-invalid]="Getfullname?.invalid" [class.is-valid]="Getfullname?.valid">
      <!-- <option value="0" selected>Please Select</option> -->
      <option *ngFor="let item of ClientType" value="{{ item.name }}">
        {{ item.name }}
      </option>
    </select>
  </div>


  <div class="mb-3">
    <label for="name" class="form-label">FullName :</label>
    <input type="text" id="FullName" name="FullName" class="form-control" formControlName="fullname"
      [class.is-invalid]="Getfullname?.invalid" [class.is-valid]="Getfullname?.valid">
    <div [hidden]="Getfullname?.valid || Getfullname?.untouched" class="alert alert-warning">
      <small *ngIf="Getfullname?.errors?.['required']"> FullName is Required </small>
      <small *ngIf="Getfullname?.errors?.['pattern']"> FullName Pattern <b> {{
          Getfullname?.errors?.['pattern'].actualValue }} </b> does't match </small>
    </div>
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">Email :</label>
    <input type="email" id="email" name="email" class="form-control" formControlName="email"
      [class.is-invalid]="Getfullname?.invalid" [class.is-valid]="Getfullname?.valid">
  </div>

  <div class="mb-3 mt-3" formArrayName="phoneNo" >
    <div  *ngFor="let item of GetPhoneNumbers.controls let i = index" class="mb-3 mt-3">
      <label for="{{'PhoneNo #' + i + 1}}">PhoneNo #{{ i + 1 }}</label>
      <input type="text" id="{{'PhoneNo' + i + 1}}" name="{{'PhoneNo' + i + 1}}" class="form-control"
        [formControlName]="i" [class.is-invalid]="Getfullname?.invalid" [class.is-valid]="Getfullname?.valid">
    </div>
    <button type="button" class="btn btn-outline-success w-25" (click)="addNewPhonenumber()">Plus</button>
  </div>

  <div formGroupName="address">
    <h4 class="text-success" class="ms-3">Address details</h4>
    <div class="mb-3 ms-3">
      <label for="city" class="form-label">City :</label>
      <input type="text" id="city" name="city" class="form-control" formControlName="city"
        [class.is-invalid]="Getfullname?.invalid" [class.is-valid]="Getfullname?.valid">
    </div>

    <div class="mb-3 ms-3">
      <label for="postalCode" class="form-label">Postal Code :</label>
      <input type="text" id="postalCode" name="postalCode" class="form-control" formControlName="postalCode"
        [class.is-invalid]="Getfullname?.invalid" [class.is-valid]="Getfullname?.valid">
    </div>

    <div class="mb-3 ms-3">
      <label for="street" class="form-label">Street :</label>
      <input type="text" id="street" name="street" class="form-control" formControlName="street"
        [class.is-invalid]="Getfullname?.invalid" [class.is-valid]="Getfullname?.valid">
    </div>
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password :</label>
    <input type="password" id="password" name="password" class="form-control" formControlName="password"
      [class.is-invalid]="Getfullname?.invalid" [class.is-valid]="Getfullname?.valid">
  </div>

  <div class="mb-3">
    <label for="ConfirmPassword" class="form-label">Confirm Password :</label>
    <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control"
      formControlName="confirmpassword" [class.is-invalid]="Getfullname?.invalid" [class.is-valid]="Getfullname?.valid">
  </div>

  <div class="mb-3">
    <button type="submit" class="btn btn-success" [disabled]="ReagisterForm.invalid">Submit</button>
  </div>

  <div class="mb-3">
    <button type="button" class="btn btn-primary" (click)="fillFormWithPatchValue()">Fill Form</button>
  </div>
</form>

{{ReagisterForm.value | json}}
<!-- {{ReagisterForm.get('fullname')?.errors | json}} -->
{{ Getfullname?.errors | json }}
